---
---

@import "{{ site.theme }}";

// === Custom CSS / SCSS ===
header { 
  padding: 30px; 
}

footer {
  background-position: center top;
  text-align: center;
}

ul li {
  margin-left: 30px;
}

ol li {
  margin-left: 30px;
}

hr {
  width: 100%;
}

// Flexbox "Holy Grail" Layout based on: https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/
#site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#site-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 30px;
}

#site-content {
    display: flex;
    flex-direction: column;
}

#site-left {
    order: -1;
}

@media (min-width: 768px) {
    #site-body {
        flex-direction: row;
        justify-content: center;
        flex: 1;
    }
    #site-content {
        flex: 4;
        margin: 0px 30px 0px 0px;
    }
    #site-left {
        flex: 1 0 400px;
        margin: 0px 30px 0px 0px;
    }
    .pagination {
      flex-direction: row;
    }
    .pagination > .post-previous, .pagination > .post-next {
      flex: 1 1 calc(50% - 10px);
    }
    .pagination > .post-previous {
      text-align: right;
    }
    .pagination > .diamond {
      display: inline-block;
      flex: 0 0 10px;
    }
}

// Images
#site-content img { 
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

#site-content img + em {
  display: block;
  text-align: center;
}

// Pagination (TODO: Clean-up / Remove)
.pagination {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pagination > .diamond {
  padding: 0px 5px;
  display: none;
}

.pagination a {
  border-radius: 5px; 
  margin: 0 4px;
  padding: 4px 8px;
  border: 1px solid #aaa;
}
