---
---

@import "{{ site.theme }}";
// Custom CSS / SCSS
footer {
  background-position: center;
}
.inner {
  width: 70%; 
  min-width: 620px;
}
.pagination {
  text-align: center;
}
.pagination a {
  border-radius: 5px; 
  margin: 0 4px;
  padding: 4px 8px;
  border: 1px solid #aaa;
}

  