---
---

@import "{{ site.theme }}";

// === Custom CSS / SCSS ===
header { 
  padding: 30px; 
}

footer {
  background-position: center top;
}

// Flexbox "Holy Grail" Layout based on: https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/
#site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#site-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 30px;
}

#site-content {
    display: flex;
    flex-direction: column;
}

#site-left {
    order: -1;
}

@media (min-width: 768px) {
    #site-body {
        flex-direction: row;
        justify-content: center;
        flex: 1;
    }
    #site-content {
        flex: 4;
        margin: 0px 30px;
    }
    #site-left {
        flex: 1 0 400px;
    }
}

// Pagination (TODO: Clean-up / Remove)
.pagination > div {
  display: inline-block;
}

.pagination a {
  border-radius: 5px; 
  margin: 4px 8px;
  padding: 4px 8px;
  border: 1px solid #aaa;
}

  