{% include header.html %}

{% if page.lat and page.lng %}
<div id="map" style="width:100%; height:450px"></div>
<script>
function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: {{ page.lat }}, lng: {{ page.lng }} },
          fullscreenControl: true,
          mapTypeId: 'satellite'
        });

        var kmlSCA = new google.maps.KmlLayer({
          url: 'http://www.thehikingvegan.com/assets/kml/PCT_SouthernCalifornia.kmz',
          map: map,
          preserveViewport: true
        });
        
        var kmlCCA = new google.maps.KmlLayer({
          url: 'http://www.thehikingvegan.com/assets/kml/PCT_CentralCalifornia.kmz',
          map: map,
          preserveViewport: true
        });
        
        var kmlNCA = new google.maps.KmlLayer({
          url: 'http://www.thehikingvegan.com/assets/kml/PCT_NorthernCalifornia.kmz',
          map: map,
          preserveViewport: true
        });
        
        var kmlOregon = new google.maps.KmlLayer({
          url: 'http://www.thehikingvegan.com/assets/kml/PCT_Oregon.kmz',
          map: map,
          preserveViewport: true
        });
        
        var kmlWashington = new google.maps.KmlLayer({
          url: 'http://www.thehikingvegan.com/assets/kml/PCT_Washington.kmz',
          map: map,
          preserveViewport: true
        });
        
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAhREGR2P8v2a2z7hn0OiqO70MfDTQoLs&callback=initMap">
    </script>
{% endif %}

<div id="post">
  <h1 id="post-{{ page.slug }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
  
  {{ content }}
</div>

{% capture footer %}
{% if page.previous or page.next %}
<div class="pagination post-timeline">
  {% if page.previous %}
  <div class="post-previous"><a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a></div>
  {% endif %}
  {% if page.next %}
  <div class="post-next"><a href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a></div>
  {% endif %}
</div>
{% endif %}
{% endcapture %}

{% include footer.html content=footer %}